{% extends 'main/base.html' %}
{% load static %}

{% block title%} Nowy rekord{% endblock%}
{% block body%} id="bg" style="background-image: url('{% static 'main/images/pompka1.jpg'%}')" {% endblock %}

{% block content%}


{% if submitted %}
<center><p style="font-size:25px" >Twój rekord został dodany pomyślnie</p></center>

{% else %}
<center><h2>Dodaj nowy rekord</h2></center>

<form action="" method="POST" id="formal" >

    {% csrf_token %}


    <center style="position:relative; top:150px;">
        {{form.as_p}}

        <input type="submit" id="add" value="Dodaj" class="btn btn-success" >
    </center>

</form>

{% endif %}
<br/>
<br/>
<!--<center><img src="{% static 'main/images/pompka1.jpg' %}" alt="Pompka" width="80%"></center>
-->


{% endblock%}


