{% extends 'main/base.html' %}

{% block title%} Moje konto{% endblock%}

{% block content%}

<h2><center>Lista TOP 3 </center></h2>
<h4><center>Lista 3 użytkowników, którzy wykonali najwiecej treninów w ciagu ostatniego miesiąca </center></h4>
<ol style="font-size:40px; position:relative; top:200px"><center>
    {% for position in top3_list %}
        <li><td>{{position.user__person__name}}</td> <td>{{position.user__person__surname}}</td>   WYNIK: <td>{{position.totalseries}}</td></li>

    {% endfor %}
</center></ol>


{% endblock%}